@charset "UTF-8";
html {
  font-size: 62.5%;
}

html body {
  margin: 0;
  font-family: "ヒラギノ角ゴ Pro", "Hiragino Sans", "游ゴシック bold", "Yu Gothic bold", "游ゴシック体", "Yu Gothic", "メイリオ", Verdana, "ＭＳ Ｐゴシック", sans-serif;
}

html body a {
  color: black;
  text-decoration: none;
}

html ul {
  list-style: none;
  padding: 0;
}

html header {
  position: fixed;
  top: 5.0rem;
  right: 5.0rem;
  display: inline-block;
}

@media screen and (max-width: 959px) {
  html header {
    display: none;
  }
}

html header ul li {
  display: inline-block;
  margin-right: 1.5rem;
}

html header ul li:nth-child(7) {
  margin-right: 0;
}

html header ul li a {
  text-decoration: none;
  font-size: 2.0rem;
  color: black;
}

html header ul li .sns-icon-list {
  margin-left: 1.5rem;
}

html header ul li .sns-icon-list .sns-icon {
  margin-right: 1rem;
}

html .container {
  width: 50%;
  margin: 0 auto;
  margin-top: 20.0rem;
}

html .container .cont-title {
  text-align: center;
  font-size: 3.5rem;
}

html .container .news-list {
  margin-top: 5.0rem;
}

html .container .news-list .news-item {
  margin-bottom: 5.0rem;
}

html .container .news-list .news-item .news-date {
  font-size: 1.5rem;
  font-weight: 500;
}

html .container .news-list .news-item .news-title {
  font-size: 1.8rem;
}

html .container .news-list .news-item .news-title::before {
  content: 'ー';
  font-weight: 600;
}

html .container .video-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

html .container .video-grid .fadein {
  opacity: 0;
  -webkit-transform: translate(0, 50px);
          transform: translate(0, 50px);
  -webkit-transition: all 700ms;
  transition: all 700ms;
}

html .container .video-grid .fadein:nth-child(2n) {
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
}

html .container .video-grid .fadein:nth-child(3n) {
  -webkit-transition-delay: 400ms;
          transition-delay: 400ms;
}

html .container .video-grid .scrollin {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

html .container .video-grid .video-grid-item {
  width: 32.8%;
  margin-bottom: 0.5rem;
}

html .container .video-grid .video-grid-item:nth-child(3n-1) {
  margin-right: 0.8%;
  margin-left: 0.8%;
}

html .container .video-grid .video-grid-item img {
  width: 100%;
}

html .container .video-grid .disco-grid-item {
  width: 30%;
  margin-bottom: 1rem;
}

html .container .video-grid .disco-grid-item:nth-child(3n-1) {
  margin-right: 5%;
  margin-left: 5%;
}

html .container .video-grid .disco-grid-item img {
  width: 100%;
}

html .container .bio-img {
  width: 100%;
  height: 35vw;
  background-image: url(../images/roman-denisenko-FUFZwPIU5fk-unsplash.jpg);
  background-size: 120%;
  background-position: center top;
  background-repeat: no-repeat;
}

html .container .bio-name {
  text-align: center;
  font-size: 2.0rem;
  margin: 5.0rem 0;
}

html .container .bio-text {
  font-size: 1.6rem;
  letter-spacing: 0.4rem;
}

html .container .detail-date {
  font-size: 1.2rem;
}

html .container .detail-title {
  font-size: 2.0rem;
  letter-spacing: 0.1rem;
}

html .container .detail-cont {
  font-size: 1.5rem;
  letter-spacing: 0.15rem;
}

html .container .next-prev-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 auto;
  margin-top: 7.0rem;
}

html .container .next-prev-wrap .next-prev-item {
  width: 40%;
}

html .container .next-prev-wrap .next-prev-item .news-date, html .container .next-prev-wrap .next-prev-item .news-title {
  overflow: wrap;
}

html .container .next-prev-wrap .prev-item {
  margin-right: 20%;
  position: relative;
}

html .container .next-prev-wrap .prev-item::before {
  content: '＜';
  position: absolute;
  top: 4.0rem;
  left: -2.0rem;
  font-size: 1.4rem;
}

html .container .next-prev-wrap .next-item {
  position: relative;
}

html .container .next-prev-wrap .next-item::after {
  content: '＞';
  position: absolute;
  top: 4.0rem;
  right: -2.0rem;
  font-size: 1.4rem;
}

html .news-cont {
  width: 38%;
}

html .news-cont img {
  width: 100%;
}

html .video-cont {
  width: 76%;
}

html .disco-cont {
  width: 70%;
}

html .contact-cont {
  height: 708px;
}

@media screen and (max-width: 959px) {
  html .disc-detail-cont {
    width: 80%;
  }
}

html .disc-detail-cont .disc-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html .disc-detail-cont .disc-wrap img {
  width: 60%;
}

html .disc-detail-cont .disc-wrap .disc-wrap-text {
  width: 38%;
  margin-left: 2%;
  padding-top: 4.0rem;
}

html .disc-detail-cont .disc-wrap .disc-wrap-text h3 {
  font-size: 3.6rem;
}

@media screen and (max-width: 959px) {
  html .disc-detail-cont .disc-wrap .disc-wrap-text h3 {
    font-size: 2.8rem;
  }
}

html .disc-detail-cont .disc-wrap .disc-wrap-text p {
  font-size: 1.8rem;
  padding-left: 2.0rem;
}

html .main-visual {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: fixed;
}

html .main-visual img {
  height: 100%;
}

html .logo {
  z-index: 10;
  width: 30%;
  position: fixed;
  top: 10px;
  left: 0;
  display: inline-block;
}

html .logo img {
  width: 100%;
}

@media screen and (max-width: 959px) {
  html .logo {
    width: 50%;
    z-index: 30;
  }
}

html .navi {
  width: 40%;
  height: 100%;
  position: fixed;
  padding-top: 16.0rem;
  top: 0;
  right: 0;
  z-index: 20;
  background: white;
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
  -webkit-transition: 500ms;
  transition: 500ms;
  display: none;
}

html .navi .nav-list {
  margin: 0 auto;
  width: 60%;
  text-align: center;
}

html .navi .nav-list ul li {
  margin-bottom: 5vh;
}

html .navi .nav-list ul li a {
  text-decoration: none;
  color: black;
  font-size: 2.4rem;
  font-weight: 600;
}

@media screen and (max-width: 959px) {
  html .navi {
    width: 100%;
  }
}

html .active {
  display: block;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

html .fadein {
  opacity: 0;
  -webkit-transform: translate(0, 50px);
          transform: translate(0, 50px);
  -webkit-transition: all 700ms;
  transition: all 700ms;
}

html .scrollin {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

html .nav-button {
  position: fixed;
  top: 0px;
  right: 0px;
  margin-top: 2.0rem;
  margin-right: 2.0rem;
  font-size: 3.5rem;
  color: black;
  text-decoration: none;
  height: 42px;
  width: 42px;
  text-align: center;
  z-index: 15;
}

@media screen and (max-width: 959px) {
  html .nav-button {
    font-size: 4.5rem;
    margin-top: 3rem;
    margin-right: 3rem;
  }
}

html .nav-button .fa-bars {
  font-weight: 900;
}

html .nav-button .fa-bars ::before {
  content: "\f0c9";
}

html .nav-button .fa-times {
  font-weight: 900;
}

html .nav-button .fa-times ::before {
  content: "\f0dd";
}

html .top-contents {
  width: 40%;
  position: absolute;
  padding-top: 120px;
  top: 0;
  right: 0;
  z-index: 10;
  background: white;
}

@media screen and (max-width: 959px) {
  html .top-contents {
    width: 100%;
    margin-top: 100vh;
    z-index: 1;
  }
}

html .top-contents .top-content {
  width: 85%;
  margin: 0 auto;
  position: relative;
  margin-bottom: 8rem;
}

html .top-contents .top-content .two-split {
  width: 45%;
  display: inline-block;
  vertical-align: top;
}

html .top-contents .top-content .two-split img {
  width: 100%;
}

html .top-contents .top-content .two-split .title {
  font-size: 2.2rem;
  font-weight: 900;
  text-align: left;
}

html .top-contents .top-content .two-split .setlist {
  font-weight: 400;
}

html .top-contents .top-content .two-split .depature-date {
  font-weight: 600;
}

html .top-contents .top-content .two-split .depature-date, html .top-contents .top-content .two-split .setlist {
  padding-left: 2.0rem;
  font-size: 1.5rem;
}

html .top-contents .top-content .section-title {
  font-size: 2.2rem;
  font-weight: 800;
}

html .top-contents .top-content .list {
  padding-left: 4.4rem;
}

html .top-contents .top-content .list .top-item .top-title span {
  font-size: 1.5rem;
}

html .top-contents .top-content .list .top-item .top-title span::before {
  content: "ー";
  margin-right: 0.5rem;
}

html .top-contents .top-content .more-btn {
  position: absolute;
  display: inline-block;
  bottom: 40;
  right: 0;
  font-size: 1.4rem;
  font-weight: 600;
}

html .top-contents .top-content .more-btn a {
  text-decoration: none;
  color: black;
}

html .top-contents .top-content .top-video-img img {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */